/* Reset */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}section,header,footer,nav,article,aside,figure{display:block;width:100%}mark,time,meter,progress{display:inline}

/* Variables */

:root {
  --font-family: "Whitney SSm A", "Whitney SSm B", sans-serif;
  --font-weight: 400;
  --bold-font-weight: 700;

  --title-font-family: "Landmark Dimensional A", "Landmark Dimensional B", sans-serif;
  --title-font-weight: 400;

  --body-foreground: #111;
  --body-background: #fff;
  --link-foreground: #0881b3;
  --light-foreground: #949494;
  --light-link-foreground: #444;
  --mark-foreground: #000;
  --mark-background: #fffeca;
  --horizontal-rule: #ddd;
  --blockquote-foreground: #555;
  --blockquote-border: #ddd;
  --blockquote-link: #444;
  --brand-color: #f6291d;
  --h1-foreground: #000;
  --h2-foreground: #111;
  --h3-foreground: #666;
  --h4-foreground: #999;
  --footer-foreground: #aaa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-foreground: #eee;
    --body-background: #111;
    --link-foreground: #64c1f8;
    --light-foreground: #949494;
    --light-link-foreground: #bbb;
    --horizontal-rule: #222;
    --blockquote-foreground: #aaa;
    --blockquote-border: #222;
    --blockquote-link: #bbb;
    --brand-color: #f6291d;
    --h1-foreground: #fff;
    --h2-foreground: #eee;
    --h3-foreground: #999;
    --h4-foreground: #666;
    --footer-foreground: #555;
  }
}

/* General */

html {
  -webkit-font-smoothing: antialiased;
}

body {
  background: var(--body-background);
  color: var(--body-foreground);
  font-size: 18px;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  line-height: 1.7em;
}

input {
  line-height: 1em;
}

a {
  color: var(--link-foreground);
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

a:hover {
  transition-property: border;
  transition-duration: 0.2s;
  border-bottom: 1px solid;
}

strong, b {
  font-weight: var(--bold-font-weight);
  font-style: normal;
}

mark {
  color: var(--mark-foreground);
  background-color: var(--mark-background);
  padding: 0.05em 0.1em;
  box-shadow: var(--mark-background) 0 0 5px;
}

mark code {
  background-color: var(--mark-background);
  border: none;
}

@media (prefers-color-scheme: dark) {
  mark {
    box-shadow: none;
  }
}

em, i {
  font-style: italic;
}

abbr {
  border-bottom: 1px dashed;
  cursor: help;
}

p {
  margin: 0 0 1em;
}

hr {
  margin: 0 auto 2em;
  border: 0;
  border-bottom: 1px solid var(--horizontal-rule);
  width: 60%;
}

blockquote {
  border-left: 5px solid var(--blockquote-border);
  color: var(--blockquote-foreground);
  margin: 0 0 1em;
  padding-left: 1em;
}

blockquote a {
  color: var(--blockquote-link);
}

blockquote a:hover {
  color: var(--link-foreground);
}

small {
  font-size: 0.8em;
  color: var(--light-foreground);
  margin-left: 0.2em;
}

small a {
  color: var(--light-link-foreground);
}

small a:hover {
  color: var(--link-foreground);
}

h1 {
  color: var(--h1-foreground);
  font-family: var(--title-font-family);
  font-weight: var(--title-font-weight);
  font-size: 3em;
  margin-bottom: 0.5em;
  text-transform: capitalize;
  line-height: 1.2em;
}

body > header h1 a, body > header h1 a:hover {
  color: var(--brand-color);
  border: 0;
}

h2 {
  font-size: 1.3em;
  font-weight: var(--bold-font-weight);
}

h2 a {
  color: var(--h2-foreground);
  border: 0;
}

h3 {
  font-weight: var(--bold-font-weight);
  color: var(--h3-foregound);
  font-size: 1.1em;
}

h3 a {
  color: var(--h3-foregound);
  border: 0;
}

h4 {
  color: var(--h4-foreground);
  font-weight: var(--bold-font-weight);
  margin-bottom: 0.2em;
}

sup {
  vertical-align: super;
}

body > header, main > section.posts, main > nav, body > footer, section.post > article, section.post > footer div, section.error {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
}

body > header {
  color: var(--light-foreground);
  margin: 4em auto;
}

body > header p {
  margin: 0;
}

@media all and (max-width: 660px) {
  body > header {
    margin: 2em auto 3em
  }
  body > header p:nth-child(2) {
    margin-bottom: 1em
  }
}

body > footer {
  color: var(--footer-foreground);
  font-size: 0.8em;
  text-align: center;
  margin: 3em auto;
}

body > footer a {
  color: var(--footer-foreground);
}

body > footer a:hover {
  color: var(--link-foreground);
}

body > footer li {
  margin-right: 1em;
  display: inline-block;
}

body > footer li:last-child {
  margin-right: 0;
}

article h1 {
  display: none;
}

article header {
  margin-bottom: 1em;
}

article header h2 {
  font-size: 2em;
  line-height: 1.2em;
  margin: 1em 0 0.2em;
}

article header p {
  color: var(--light-foreground);
  font-size: 0.9em;
  margin-bottom: 0.25em;
}

article header p a {
  color: var(--light-foreground);
  border: 0;
}

article > h2, article > h3, article > h4, article > h5, article > h6 {
  padding: 1em 0 0.2em;
}

article ul, article ol {
  margin: 0 0 2em 0.5em;
}

article ul li, article ol li {
  margin-left: 1em;
  margin-bottom: 0.5em;
}

article ul li {
  list-style: disc;
}

article ol li {
  list-style: decimal;
}

article ol li ol li {
  list-style: lower-alpha;
}

article div.video {
  background: #fff;
  text-align: center;
  margin-bottom: 1em;
  max-width: 100%;
  height: 0;
  box-shadow: rgba(0, 0, 0, 0.7) 0 0 6px;
  overflow: hidden;
  padding-top: 75%;
  position: relative;
}

article div.video.wide.youtube {
  padding-top: 58.125%;
}

article div.video.wide.vimeo {
  padding-top: 56.25%;
}

article div.vimeo iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

article img {
  max-width: 100%;
}

article a.bordered-image {
  float: left;
  margin: 0.25em 0.5em 0.5em 0;
}

article a.image-left {
  float: left;
  margin: 0 1em 1em 0;
}

article a.image-right {
  float: right;
  margin: 0 0 1em 1em;
}

article div.thanks {
  color: var(--light-foreground);
  padding-top: 2em;
}

article div.thanks a {
  color: var(--light-foreground);
}

article div.thanks a:hover {
  color: var(--link-foreground);
}

section.posts article {
  margin-bottom: 8em;
}

section.posts article:last-child {
  margin-bottom: 3em;
}

section.post > div.cover {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 40%;
}

section.post > div.cover > div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

section.post > footer {
  box-sizing: border-box;
  width: 100%;
  background: #383c40;
  margin: 4em 0 0;
  padding: 1em;
  color: #aaa;
  box-sizing: border-box;
}

section.post > footer a {
  color: #64c1f8;
}

section.post > footer article {
  font-size: 0.9em;
  margin-bottom: 2em;
}

section.post > footer article header {
  margin-bottom: 0;
}

section.post > footer article header h2 {
  font-size: 1.5em;
  color: #ccc;
  margin-bottom: 0;
}

section.post > footer article header h2 a {
  color: #ccc;
}

section.post > footer article mark {
  background: #ddd;
  box-shadow: none;
}

section.post > footer article blockquote {
  color: #eee;
  border-color: #ddd;
}

section.post > footer article pre, section.post > footer article code {
  color: #333;
}

section.post > footer p.copyright {
  text-align: center;
  font-size: 0.8em;
  color: #777;
}

section.post > footer p.copyright a {
  color: #777;
}

a.continue-reading {
  white-space: nowrap;
}

a.twitter-username:before {
  content: "@";
}

section.server-error {
  margin-bottom: 3em;
}

span.gray {
  color: #777;
}

ul.list, ol.list {
  margin: 0 0 2em 0.5em;
}

ul.list li, ol.list li {
  margin-left: 1em;
}

ul.list li {
  list-style: disc;
}

ol.list li {
  list-style: decimal;
}

ol.list li ol li {
  list-style: lower-alpha;
}

div.video {
  position: relative;
}

div.video img {
  display: block;
  width: 100%;
  height: auto;
  visibility: hidden;
}

div.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

pre, code {
  font-family: "Menlo", "Monaco", monospace;
  font-size: 17px;
  border-radius: 4px;
  line-height: 1.5em;
}

pre {
  overflow-x: auto;
  margin-bottom: 1em;
  padding: 0.5em 1em;
  background: #fcfcfc;
  color: #111;
  border: 1px solid #f0f0f0;
}

code {
  background: #f7f7f7;
  color: #111;
  padding: 0.1em 0.2em;
}

.highlight code {
  background: transparent;
}

.highlight,.highlight span{color:#4d4d4c}.highlight .hll{background-color:#d6d6d6}.highlight .c{color:#8e908c}.highlight .k{color:#8959a8}.highlight .l{color:#f5871f}.highlight .o{color:#3e999f}.highlight .p{color:#4d4d4c}.highlight .cm{color:#8e908c}.highlight .cp{color:#8e908c}.highlight .c1{color:#8e908c}.highlight .cs{color:#8e908c}.highlight .gd{color:#c82829}.highlight .ge{font-style:italic}.highlight .gh{color:#4d4d4c;font-weight:700}.highlight .gi{color:#718c00}.highlight .gp{color:#8e908c;font-weight:700}.highlight .gs{font-weight:700}.highlight .gu{color:#3e999f;font-weight:700}.highlight .kc{color:#8959a8}.highlight .kd{color:#8959a8}.highlight .kn{color:#3e999f}.highlight .kp{color:#8959a8}.highlight .kr{color:#8959a8}.highlight .kt{color:#eab700}.highlight .ld{color:#718c00}.highlight .m{color:#f5871f}.highlight .s{color:#718c00}.highlight .na{color:#4271ae}.highlight .nb{color:#4d4d4c}.highlight .nc{color:#eab700}.highlight .no{color:#c82829}.highlight .nd{color:#3e999f}.highlight .ni{color:#4d4d4c}.highlight .ne{color:#c82829}.highlight .nf{color:#4271ae}.highlight .nl{color:#4d4d4c}.highlight .nn{color:#eab700}.highlight .nx{color:#4271ae}.highlight .py{color:#4d4d4c}.highlight .nt{color:#3e999f}.highlight .nv{color:#c82829}.highlight .ow{color:#3e999f}.highlight .w{color:#4d4d4c}.highlight .mf{color:#f5871f}.highlight .mh{color:#f5871f}.highlight .mi{color:#f5871f}.highlight .mo{color:#f5871f}.highlight .sb{color:#718c00}.highlight .sc{color:#4d4d4c}.highlight .sd{color:#8e908c}.highlight .s2{color:#718c00}.highlight .se{color:#f5871f}.highlight .sh{color:#718c00}.highlight .si{color:#f5871f}.highlight .sx{color:#718c00}.highlight .sr{color:#718c00}.highlight .s1{color:#718c00}.highlight .ss{color:#718c00}.highlight .bp{color:#4d4d4c}.highlight .vc{color:#c82829}.highlight .vg{color:#c82829}.highlight .vi{color:#c82829}.highlight .il{color:#f5871f}

@media (prefers-color-scheme: dark) {
  pre {
    border: 0;
  }

  .highlight,.highlight span{color:#f8f8f2}.highlight pre{background-color:#383c40}.highlight .hll{background-color:#272822}.highlight .c{color:#777}.highlight .k{color:#66d9ef}.highlight .l{color:#ae81ff}.highlight .o{color:#f92672}.highlight .p{color:#f8f8f2}.highlight .cm{color:#75715e}.highlight .cp{color:#75715e}.highlight .c1{color:#777}.highlight .cs{color:#777}.highlight .ge{font-style:italic}.highlight .gs{font-weight:700}.highlight .kc{color:#66d9ef}.highlight .kd{color:#66d9ef}.highlight .kn{color:#f92672}.highlight .kp{color:#66d9ef}.highlight .kr{color:#66d9ef}.highlight .kt{color:#66d9ef}.highlight .ld{color:#e6db74}.highlight .m{color:#ae81ff}.highlight .s{color:#e6db74}.highlight .na{color:#a6e22e}.highlight .nb{color:#f8f8f2}.highlight .nc{color:#a6e22e}.highlight .no{color:#66d9ef}.highlight .nd{color:#a6e22e}.highlight .ni{color:#f8f8f2}.highlight .ne{color:#a6e22e}.highlight .nf{color:#a6e22e}.highlight .nl{color:#f8f8f2}.highlight .nn{color:#f8f8f2}.highlight .nx{color:#a6e22e}.highlight .py{color:#f8f8f2}.highlight .nt{color:#f92672}.highlight .nv{color:#f8f8f2}.highlight .ow{color:#f92672}.highlight .w{color:#f8f8f2}.highlight .mf{color:#ae81ff}.highlight .mh{color:#ae81ff}.highlight .mi{color:#ae81ff}.highlight .mo{color:#ae81ff}.highlight .sb{color:#e6db74}.highlight .sc{color:#e6db74}.highlight .sd{color:#e6db74}.highlight .s2{color:#e6db74}.highlight .se{color:#ae81ff}.highlight .sh{color:#e6db74}.highlight .si{color:#e6db74}.highlight .sx{color:#e6db74}.highlight .sr{color:#e6db74}.highlight .s1{color:#e6db74}.highlight .ss{color:#e6db74}.highlight .bp{color:#f8f8f2}.highlight .vc{color:#f8f8f2}.highlight .vg{color:#f8f8f2}.highlight .vi{color:#f8f8f2}.highlight .il{color:#ae81ff}.highlight .gu{color:#777}.highlight .gd{color:#f92672}.highlight .gi{color:#a6e22e}
}

nav.pagination {
  text-align: center;
  margin-bottom: 2em;
}

nav.pagination a {
  padding: 2px 6px;
  margin-right: 0.2em;
  text-decoration: none;
  border: 0;
}

nav.pagination a:hover {
  text-decoration: underline;
}

nav.pagination a[rel=next]:hover, nav.pagination a[rel=prev]:hover {
  background: none;
  text-decoration: underline;
  color: var(--link-foreground);
}

nav.pagination span {
  padding: 2px 6px;
  margin-right: 0.2em;
}

nav.pagination span.gap {
  padding: 2px;
  color: #676767;
}

nav.pagination span.disabled {
  color: #aaa;
}

nav.pagination em {
  padding: 4px 8px;
}

@media all and (max-width: 660px) {
  nav.pagination a, nav.pagination span.gap {
    display: none;
    margin: 0
  }

  nav.pagination a.prev, nav.pagination a.next {
    display: inline
  }
}
