/* Post */

section.post-gallery article {
  max-width: 1056px;
}

section.post-gallery > div.cover {
  height: 85vh;
  padding-top: 0;
}

section.post > div.cover > div {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* Lightbox */

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  padding: 32px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  outline: 0;
  cursor: zoom-out;
}

.lightbox img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  cursor: default;
}
