// Post
article {
  h1 {
    display: none;
  }

  header {
    margin-bottom: 1em;

    h2 {
      font-size: 2em;
      line-height: 1.2em;
      margin: 1em 0 0.2em;
    }

    p {
      color: #949494;
      font-size: 0.9em;
      margin-bottom: 0.25em;

      a {
        color: #949494;
        border: 0;
      }
    }
  }

  > h2, > h3, > h4, > h5, > h6 {
    padding: 1em 0 0.2em;
  }

  ul, ol {
    margin: 0 0 2em 0.5em;

    li {
      margin-left: 1em;
      margin-bottom: 0.5em;
    }
  }

  ul li {
    list-style: disc;
  }

  ol li {
    list-style: decimal;
  }

  ol li ol li {
    list-style: lower-alpha;
  }

  div.video {
    background: #fff;
    text-align: center;
    margin-bottom: 1em;
    max-width: 100%;
    height: 0;
    box-shadow: rgba(0, 0, 0, 0.7) 0 0 6px;
    overflow: hidden;
    padding-top: 75%;
    position: relative;
  }

  div.video.wide.youtube {
    padding-top: 58.125%;
  }

  div.video.wide.vimeo {
    padding-top: 56.25%;
  }

  div.vimeo iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  img {
    max-width: 100%;
  }

  a.bordered-image {
    float: left;
    margin: 0.25em 0.5em 0.5em 0;
  }

  a.image-left {
    float: left;
    margin: 0 1em 1em 0;
  }

  a.image-right {
    float: right;
    margin: 0 0 1em 1em;
  }
}

section.posts article {
  margin-bottom: 8em;

  &:last-child {
    margin-bottom: 3em;
  }
}

section.post {
  > article {
    max-width: $width;
    margin: 0 auto;
    padding: 0 16px;
    box-sizing: border-box;
  }

  > div.cover {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 40%;

    > div {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }

  > footer {
    width: 100%;
    background: #383c40;
    margin: 4em 0 0;
    padding: 1em;
    color: #aaa;

    a {
      color: #64c1f8;
    }

    div {
      max-width: $width;
      margin: 0 auto;
      padding: 0 16px;
      box-sizing: border-box;
    }

    article {
      font-size: 0.9em;
      margin-bottom: 2em;

      header {
        margin-bottom: 0;

        h2 {
          font-size: 1.5em;
          color: #ccc;
          margin-bottom: 0;

          a {
            color: #ccc;
          }
        }
      }
    }

    p.copyright {
      text-align: center;
      font-size: 0.8em;
      color: #777;

      a {
        color: #777;
      }
    }
  }
}

a.continue-reading {
  white-space: nowrap;
}
