<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head prefix="og: https://ogp.me/ns# fb: https://ogp.me/ns/fb# article: https://ogp.me/ns/article#">
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} — {% endif %}Hi, I’m Sam</title>
  <link rel="mask-icon" sizes="any" href="/favicon.svg" color="#f6291d">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="/apple-touch-icon-192x192.png" sizes="192x192">
  <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/619254/777982/css/fonts.css">
  <link href="/css/styles.css" rel="stylesheet">
  <link rel="me" href="https://www.google.com/profiles/samsoffes">
  <link rel="author" type="text/plain" href="/humans.txt">
  <link rel="alternate" type="application/rss+xml" href="https://soffes.blog/rss.xml">
  <link rel="alternate" type="application/json" href="https://soffes.blog/feed.json">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta property="fb:app_id" content="1159618850721771">
  <meta property="og:site_name" content="soff.es">
  <meta property="copyright" content="&copy; 2006-2019 Sam Soffes">
  {%- if page.is_post -%}{% include post_head.html -%}{%- endif -%}
  {%- if paginator.previous_page %}
  <link rel="prev" href="{{ paginator.previous_page_path | prepend: site.url }}">
  {%- endif -%}
  {%- if paginator.next_page %}
  <link rel="next" href="{{ paginator.next_page_path | prepend: site.url }}">
  {%- endif %}
</head>
<body>
  {% unless page.cover_image %}
  <header>
    <h1><a href="/" rel="home">{{ site.title }}</a></h1>
    <p>{{ site.description }}</p>
  </header>
  {% endunless %}
  <main>
  {{ content }}
  </main>
  {% unless page.previous %}
  <footer>
    <p><a href="/rss.xml">RSS</a> &bull; <a href="/feed.json">JSON Feed</a></p>
    {% include footer.html %}
  </footer>
  {% endunless %}
  <script src="/js/application.js"></script>
  {% if site.google_analytics %}
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-5609322-18"></script>
<script>window.dataLayer=window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', '{{ site.google_analytics }}');</script>
  {% endif %}
</body>
</html>


