<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head prefix="og: https://ogp.me/ns# fb: https://ogp.me/ns/fb# article: https://ogp.me/ns/article#">
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} — {% endif %}{{ site.title }}</title>
  <link rel="mask-icon" sizes="any" href="/favicon.svg" color="#f6291d">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="/apple-touch-icon-192x192.png" sizes="192x192">
  <link href="/css/blog.css" rel="stylesheet">
  <link rel="me" href="https://www.google.com/profiles/samsoffes">
  <link rel="author" type="text/plain" href="/humans.txt">
  <link rel="alternate" type="application/rss+xml" href="https://soffes.blog/rss.xml">
  <link rel="alternate" type="application/json" href="https://soffes.blog/feed.json">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta property="fb:app_id" content="1159618850721771">
  <meta property="og:site_name" content="soffes.blog">
  <meta property="copyright" content="&copy; 2006-2019 Sam Soffes">
  {%- if page.is_post -%}{% include post_head.html -%}{%- endif -%}
  {%- if paginator.previous_page %}
  <link rel="prev" href="{{ paginator.previous_page_path | prepend: site.url }}">
  {%- endif -%}
  {%- if paginator.next_page %}
  <link rel="next" href="{{ paginator.next_page_path | prepend: site.url }}">
  {%- endif %}
</head>
<body>
  {% unless page.cover_image %}
  <header>
    <h1><a href="/" rel="home" title="{{ site.title }}">{{ site.title }}</a></h1>
    <p>{{ site.description }}</p>
  </header>
  {% endunless %}
  <main>
  {{ content }}
  </main>
  {% unless page.previous %}
  <footer>
    <p><a href="/rss.xml">RSS</a> &bull; <a href="/feed.json">JSON Feed</a></p>
    {% include footer.html %}
  </footer>
  {% endunless %}
  {%- if page.is_gallery %}
  <script src="/js/gallery.js"></script>{% endif %}
  <script>
    const addLoadEvent=function(t){const n=window.onload;return"function"!=typeof window.onload?window.onload=t:window.onload=function(){return n&&n(),t()}};addLoadEvent(function(){if(document.getElementsByTagName&&String.prototype.indexOf)for(let t of document.getElementsByTagName("a")){const n=t.getAttribute("rel"),e=n&&n.indexOf("external")>=0;t.getAttribute("href")&&!0===e&&(t.target="_blank")}});
    (function(f,a,t,h,o,m){a[h]=a[h]||function(){(a[h].q=a[h].q||[]).push(arguments)};o=f.createElement('script'),m=f.getElementsByTagName('script')[0];o.async=1; o.src=t; o.id='fathom-script';m.parentNode.insertBefore(o,m)})(document,window,'https://cdn.usefathom.com/tracker.js','fathom');fathom('set','siteId','AUCYEDXU');fathom('trackPageview');
  </script>
</body>
</html>
