---
layout: default
---

<section class="post{% if page.is_gallery %} post-gallery{% endif %}">
  {% if page.cover_image %}
  <div class="cover"><img src="{{ page.cover_image }}" loading="eager"></div>
  {% endif %}
  <article>
    <header>
      <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
      <p>Posted on <time datetime="{{ page.date | date: "%Y-%m-%dT%H:%M:%SZ" }}">{{ page.date | date: "%B %-e, %Y" }}</time></p>
    </header>
    {{ content }}
    {% if page.thanks %}
    <div class="thanks">
      {{ page.thanks }}
    </div>
    {% endif %}
  </article>
  {% if page.previous %}
  <footer>
    <div>
      {% assign post=page.previous %}
      {% include post.html %}
      {% include footer.html %}
    </div>
  </footer>
  {% endif %}
</section>
